nav{
    padding: 0.5rem 0rem 1rem 0rem;
    background-color: rgb(209, 185, 46);
}
ul.menu{
    display: flex;
    justify-content: center;
    background-color: darkred;
}
span.titleMenu{
    /* background-color: rgb(10, 87, 42); */
    padding: 0rem 0.3rem;
}
a.linkMenu{
    text-decoration: none;
    color: red;
}
a.linkMenu::after, a.linkMenu::before {
    content: ' : ';
}
li.itemMenu {
    list-style-type: none;
}

/* Eventos */
li.itemMenu:hover{
    background-color: darkorchid;
}